h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 0.3em;
}
.path {
  text-align: center;
}
section section {
  margin: 0.7em;
  padding: 0.7em;
}
section section h1 {
  margin-top: 0;
  text-align: left;
}
.code {
  font-family: monospace;
  font-size: 110%;
}
td.code {
  white-space: pre-wrap;
}

table {
  border-spacing: 0;
  border: 1px solid #558;
  margin: 1.5em 0 1.5em 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 3px 3px 4px #AAA;
  margin-left: auto;
  margin-right: auto;
}
th {
  font-size: 90%;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  height: 25px;
  font-weight: bold;
}
thead>tr>th {
  background-color: #558;
}
thead>tr:first-child>th:first-child, tbody>tr:first-child>th:first-child {
  border-top-left-radius: 10px;
}
thead>tr:first-child>th:last-child, tbody>tr:first-child>td:last-child {
  border-top-right-radius: 10px;
}
thead~tbody>tr:first-child>td:last-child {
  border-top-right-radius: 0;
}
td {
  color: #222;
  padding: 5px;
  text-align: center;
}
td:first-child {
  text-align: left;
}
tbody>tr>th {
  text-align: left;
  color: #222;
}
td a, th a {
  color: #247;
  text-decoration: none;
  font-weight: bold;
}
td a:hover {
  color: #02F;
  text-decoration: none;
}
tr:nth-child(odd) {
  background-color: #E0E0F6;
}
tr:nth-child(even) {
  background-color: #F0F0FF;
}
caption {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.critical {
  color: #C00;
}
.serious {
  color: #A30;
}
.moderate {
  color: #940;
}
.minor {
  color: #740;
}
.violationItems {
  margin-left: 1em;
  padding-left: 0.5em;
  border-left: 1px solid gray;
}

.error {
  color: red;
}
